body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../In_Transit_A15_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:281px;
    height:3px;
}

.u0 {
    position:absolute;
    left:7px;
    top:290px;
    width:281px;
    height:10px;
    
}

.u1_normal {
    background-image: url('../In_Transit_A15_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:300px;
    width:180px;
    height:15px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:21px;
}

.u2 {
    position:absolute;
    left:2px;
    top:0px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../In_Transit_A15_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:0px;
    top:220px;
    width:295px;
    height:60px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:66px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:291px;
    height:35px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:95px;
    top:258px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../In_Transit_A15_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:295px;
    height:220px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:295px;
    height:220px;
}

.u7 {
    position:absolute;
    left:2px;
    top:102px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../In_Transit_A15_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:295px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:301px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:291px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

